.body{
    background-color: grey;
    text-align: center;
}

.titulo{
    background-color: white;
    text-align: center;
}
.pantalla {
    font-size: 100px;
    color: black;
    text-align: center;
 } 
 
.btn-mas, .btn-menos {
    font-size: 50px;
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    background-color: lightgrey;
    border: radious(10px);
    cursor: pointer;    
    transition: background-color 0.3s;
    text-align: center;
}